{% extends "layout.html" %}
{%set pk = model.pk()%}
{%set columns= model.dict() %}
{% block header %}
<div class="d-flex justify-content-between align-items-center">
  <h1>{{ model.get_name() }}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{admin_url()}}">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ admin_url_for(model)}}">{{ model.get_name() }}</a>
    </li>
    <li class="breadcrumb-item active">Create New</li>
  </ol>
</div>
{% endblock%} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <form>
          <div class="card-header">
            <div class="container-fluid">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">New {{model.get_name()}}</h3>
              </div>
            </div>
          </div>
          <div class="card-body border-bottom py-3">


            {%for key in columns if not columns[key].exclude_from_create %}
            {%set item = columns[key] %}

            <div class="mb-3">
              <label class="form-label" for="{{key}}">{{key|field_title}}</label>
              {%if item.type == "string" and item.multiline%}
              <textarea
                id="{{key}}"
                name="{{key}}"
                class="form-control"
                rows="6"
                placeholder="{{key | title}}..."
              ></textarea>
              {%elif item.type == "string" and item.is_array%}
              <select
                id="{{key}}"
                name="{{key}}"
                class="form-control form-select"
                data-tags="true"
                multiple="multiple"
              ></select>
              {%elif item.type == "string" and item.enum%}
              <select id="{{key}}" name="{{key}}" data-allow-clear="true" data-placeholder="Select a {{key}}" class="form-control form-select">
                {%for enum_item in item['values']%}
                <option value="{{enum_item}}">{{enum_item}}</option>
                {%endfor%}
              </select>
              {%elif item.phone%}
              <input
                id="{{key}}"
                name="{{key}}"
                type="tel"
                class="form-control"
                placeholder="{{key | title}}"
                autocomplete="off"
                {%if
                item.required%}required{%endif%}
              />
              {%elif item.email%}
              <input
                id="{{key}}"
                name="{{key}}"
                type="email"
                class="form-control"
                placeholder="{{key | title}}"
                {%if
                item.required%}required{%endif%}
              />
              {%elif item.type == "string"%}
              <input
                id="{{key}}"
                name="{{key}}"
                type="text"
                class="form-control"
                placeholder="{{key | title}}"
                {%if
                item.required%}required{%endif%}
              />
              {%elif item.type == "num"%}
              <input
                id="{{key}}"
                name="{{key}}"
                type="number"
                class="form-control"
                placeholder="{{key | title}}"
                {%if
                item.required%}required{%endif%}
              />
              {%elif item.type == "bool"%}
              <label class="form-check form-switch">
                <input id="{{key}}" name="{{key}}"class="form-check-input" type="checkbox" />
              </label>
              {%elif item.type == "json"%}
              <div
                id="{{key}}"
                name="{{key}}"
                class="form-control"
                style="height: 400px"
              ></div>
              {%elif item.type in ("image","file")%} <input type="file"
              class="form-control" id="{{key}}" name="{{key}}" {%if item.is_array%} multiple
              {%endif%} {% if item.type=="image" %} accept="image/*" {%endif%}
              {%if item.required%}required{%endif%}> {%elif item.type ==
              "password"%}
              <div>
                <input
                  id="{{key}}"
                  name="{{key}}"
                  type="password"
                  class="form-control"
                  placeholder="{{key | title}}"
                  required
                />
                <small class="form-hint">
                  Your {{key}} must be {{item.min_length}}-{{item.max_length}} characters long{%if item.has_uppercase%}, contain at least one uppercase letter {%endif%}
                  {%if item.has_lowercase%}, contain at least one lowercase letter {%endif%}{%if item.min_digits and item.min_digits>0%}, contain at least {{item.min_digits}} digits {%endif%}
                  {%if item.special_chars and item.special_chars!=""%}, contain at least one special characteres ({{item.special_chars}}){%endif%}
                </small>
              </div>
              {%elif item.type in ("datetime","date","time")%} <input
              type="{{"datetime-local" if item.type =="datetime" else
              item.type}}" class="form-control" id="{{key}}" name="{{key}}" {%if item.type == 'time'%}step="1"{%endif%}/>

              {%elif item.type == "relation"%}
              <select data-allow-clear="true" data-placeholder="Select a {{key}}" id="{{key}}" name="{{key}}" class="form-control form-select" {{'multiple' if item.many else ''}}>
              {% if not item.many%}
              {# <option></option> #}
              {%endif%}
              </select>
              {%endif%}
              <div class="invalid-feedback" id="{{key}}-error" style="display: none;"></div>
            </div>

            {%endfor%}
          </div>
          <div class="card-footer text-end">
            <div class="d-flex">
              <a
                href="{{ admin_url_for(model) }}"
                class="btn btn-link"
                >Cancel</a
              >
              <button type="submit" class="btn btn-primary ms-auto">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%} {%block link%}

<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.css"
  integrity="sha512-LDaPaKECzpambd6J0xPGx2s/z8EA1rAm3JzmoMgKO0VTRbXHTeE54oDLRw26eFiyBZ3Cf888tBEHzeUTYA3ddw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

{%endblock%} {%block script%}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.js"
  integrity="sha512-KQaWlVsZF0iPXCR8p176hVrg/rlw+smy8dpJ+vwiuvoHyGr8PTVvaAV4ZmsAYdCvMRP8e3sB9pl1mRuaunaXrg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{%endblock%} {%block modal%}
<div
  class="modal modal-blur fade"
  id="modal-loading"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status"></div>
          <span class="ms-2">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-blur fade"
  id="modal-error"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon mb-2 text-danger icon-lg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 9v2m0 4v.01" />
          <path
            d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"
          />
        </svg>
        <h3>Something went wrong!</h3>
        <div id="error-body" class="text-muted"></div>
      </div>
    </div>
  </div>
</div>

{%endblock%} {%block script_end%}
<script>
    $(function () {
        {%for key in columns if not columns[key].exclude_from_create %}
        {% set item = columns[key] %}
        {% if item.type == 'relation' %}
        {% set foreign_model = (columns[key].identity | to_model) %}
        {% set fields = foreign_model.search_columns().values() | list %}
        $("#{{key}}").select2({
          allowClear: true,
          ajax: {
            url: "{{ds(foreign_model)}}",
            dataType: 'json',
            //delay: 250,
            data: function (params) {
              where = {
                  or: [
                    {%for col in fields%}
                    {
                      {{col}}: {
                        contains: params.term
                      }
                    },
                    {%endfor%}
                  ]
              }
              return {
                skip: (params.page|| 0) * 20,
                limit: 20,
                where: JSON.stringify(where)
              };
            },
            processResults: function (data, params) {
              return {
                results: $.map(data.items, function(obj){
                  obj.id = obj.id || obj.{{pk}};
                  return obj;
                }),
                pagination: {
                  more: (params.page||0)*20 < data.total
                }
              };
            },
            cache: true
          },
          //placeholder: 'Search for a {{key}}',
          //allowClear: true,
          minimumInputLength: 0,
          templateResult: function (item){
            if(!item.{{pk}}) return 'Search for a {{key}}'
            return $(`<span>{%for col in fields %}<strong>{{col}}: </strong>${item['{{col}}']} {%endfor%}</span>`);
          },
          templateSelection: function (item) {
            if(!item.{{pk}}) return 'Search for a {{key}}'
              return $(`<span>{%for col in fields %}<strong>{{col}}: </strong>${item['{{col}}']} {%endfor%}</span>`);
            }

        });
        {% elif item.type == 'string' and item.enum %}
        $("#{{key}}").select2();
        {% elif item.type == 'string' and item.is_array %}
        $("#{{key}}").select2();
        {% elif item.type == 'json' %}
        const jsonEditor{{ key| title
    }} = new JSONEditor(document.getElementById("{{key}}"), {
        mode: 'form',
        modes: ['code', 'form', 'tree'],
    });
    {% elif item.type in ("image", "file") %}
    {% endif %}
    {% endfor %}
    allFiles = []
    $("form").submit(function (event) {
        event.preventDefault();
        $("#modal-loading").modal('toggle');
        data = {}
        {%for key in columns if not columns[key].exclude_from_create %}
        $("#{{key}}").removeClass('is-invalid')
        $("#{{key}}-error").hide()
        {% set item = columns[key] %}
        {% if item.type == 'json' %}
        // prettier-ignore
        data["{{key}}"] = JSON.stringify(jsonEditor{{ key | title }}.get());
        {% elif item.type in ("image", "file") %}
        // data["{{key}}"] = $("#{{key}}").filepond('getFiles').map((e) => e.file);
        // console.log(document.querySelector("#{{key}} input").files[0])
        // data["{{key}}"] = $("#{{key}} input").val();
        for(file of $("#{{key}}").get(0).files)
            allFiles.push({key:"{{key}}",value: file})
        // data["{{key}}"] = ;
        {% elif item.type in ("datetime","date","time") %}
        if(moment($("#{{key}}").val(),{{('"YYYY-MM-DD"' if item.type == 'date' else ('"HH:mm:ss"' if item.type == 'time' else '"YYYY-MM-DDTHH:mm"'))|safe}},true).isValid())
        data["{{key}}"] = $("#{{key}}").val()
        else data["{{key}}"] = null;
        {% elif item.type == 'bool' %}
        data["{{key}}"] = $("#{{key}}").is(":checked")
        {% elif item.phone or item.email %}
        if((typeof $("#{{key}}").val() !== 'undefined') && $("#{{key}}").val()!="" )
        data["{{key}}"] = $("#{{key}}").val()
        else  data["{{key}}"] = null;
        {%else%}
        if(typeof $("#{{key}}").val() !== 'undefined' )
        data["{{key}}"] = $("#{{key}}").val()
        else  data["{{key}}"] = null;
        {% endif %}
        {% endfor %}
        console.log(data);
        console.log(allFiles);
        var formData = new FormData();
        for (key in data) {
            if(data[key] !== null){
              if(Array.isArray(data[key]))
                  data[key].forEach(item => { formData.append(key, item);});
              else
              formData.append(key, data[key]);
          }
        }
        for(file of allFiles)
        formData.append(file.key,file.value)

        fetch("{{request.url | safe}}", {
            method: "POST",
            body: formData,
        }).then(async response => {
            if(!response.ok){
                // console.log(data.detail[0].msg);
                return Promise.reject(await response.json());
            }
             console.log('Created!', response);
            $("#modal-loading").modal('toggle');
            window.location.replace("{{admin_url_for(model) | safe}}")

        })
            .catch(async (error) => {
                console.log(error);
                found_error = false
                if(error.detail){
                  if(Array.isArray(error.detail)){
                    for (fastApiError of error.detail){
                      $('#'+fastApiError.loc.slice(-1)).addClass('is-invalid')
                      $('#'+fastApiError.loc.slice(-1)+'-error').text(fastApiError.msg)
                      $('#'+fastApiError.loc.slice(-1)+'-error').show()
                      found_error = true
                    }
                  }else error = error.detail
                }else error = JSON.stringify(error,null,4)
                await new Promise(r => setTimeout(r, 500));
                $("#modal-loading").modal('toggle');
                if(!found_error){
                  $("#modal-error").modal('toggle');
                  $("#error-body").text(error)
                }
            });
    });
  });
</script>
{%endblock%}
