{% extends "layout.html" %} {%set pk = model.pk()%} {%set columns= model.cols()
%} {% block header %}
<div class="d-flex justify-content-between align-items-center">
  <h1>{{ model.get_name() }}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{admin_url()}}">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ admin_url_for(model)}}">{{ model.get_name() }}</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</div>
{% endblock%} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <form
          action="{{request.url | safe}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="card-header">
            <div class="container-fluid">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">Edit {{ model.get_name() }}</h3>
              </div>
            </div>
          </div>
          <div class="card-body border-bottom py-3">
            {%for key in columns if not columns[key].exclude_from_create %}
            {%set params = columns[key] %}
            <div class="mb-3">
              {%set data = value.getlist(key) if (is_form_value and
              params.is_array) else value[key]%} {% with
              action='edit',name=key,data=data,
              params=params,label=(key|field_title),error=(errors and
              errors.has(key))%} {% include "forms/" ~ params.type ~ ".html" %}
              {% endwith %} {%if errors and errors.has(key)%}
              <div class="invalid-feedback">{{errors.msg(key)}}</div>
              {%endif%}
            </div>
            {%endfor%}
          </div>
          <div class="card-footer text-end">
            <div class="d-flex">
              <a href="{{ admin_url_for(model)}}" class="btn btn-link"
                >Cancel</a
              >
              <button type="submit" class="btn btn-primary ms-auto">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%} {%block link%} {%if model.need_select2()%}
<link
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
  rel="stylesheet"
/>
{%endif%} {%if model.need_jsoneditor()%}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.css"
  integrity="sha512-LDaPaKECzpambd6J0xPGx2s/z8EA1rAm3JzmoMgKO0VTRbXHTeE54oDLRw26eFiyBZ3Cf888tBEHzeUTYA3ddw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{%endif%} {%endblock%} {%block script%} {%if model.need_select2()%}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{%endif%} {%if model.need_jsoneditor()%}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.js"
  integrity="sha512-KQaWlVsZF0iPXCR8p176hVrg/rlw+smy8dpJ+vwiuvoHyGr8PTVvaAV4ZmsAYdCvMRP8e3sB9pl1mRuaunaXrg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{%endif%}
<script>
    $(function () {
     {%for key in columns if not columns[key].exclude_from_create %}
        {%set params = columns[key] %}
        {%if is_form_value and params.is_array%}
        {%set data = value.getlist(key)%}
        {%elif is_form_value or params.type != 'relation'%}
        {%set data = value[key]%}
        {%else%}
        {%set fpk=(params.identity | to_model).pk()%}
        {%set data = (value[key] |map(attribute=fpk) |list) if params.many else value[key][fpk] %}
        {%endif%}
        {% with action='edit',name=key,data=data, params=params,label=(key|field_title),error=(errors is none)%}
        {% include "forms/js/" ~ params.type ~ ".js" ignore missing %}
        {% endwith %}
    {%endfor%}
  });
</script>
{%endblock%}
