{% extends "layout.html" %} {%set pk = model.pk()%} {% set columns =
model.cols() %} {% block header %}

<div class="d-flex justify-content-between align-items-center">
  <h1>{{ model.get_name() }}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ admin_url()}}">Admin</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ admin_url_for(model) }}">{{ model.get_name() }}</a>
    </li>
    <li class="breadcrumb-item active">Detail</li>
  </ol>
</div>
{% endblock %} {% block modal %} {% include "modals/loading.html" %} {% include
"modals/error.html" %} {% include "modals/confirm_delete.html" %} {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
              <h3 class="card-title">
                {{pk | upper}}: <strong>{{ value[pk] }}</strong>
              </h3>
              <div class="d-flex">
                <a href="{{ admin_url_for(model, 'edit', value[pk])}}">
                  <button type="button" class="btn btn-primary btn-block me-2">
                    <i class="fa-solid fa-edit me-2"></i>
                    Edit
                  </button>
                </a>
                <button
                  id="delete-btn"
                  type="button"
                  class="btn btn-danger btn-block"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-delete"
                >
                  <i class="fas fa-trash-alt me-2"></i>
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered table-vcenter table-mobile-md card-table table-bordered"
            >
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                {% for key in columns if not (columns[key].exclude_from_view or
                key == pk)%}
                <tr>
                  <td data-label="Attribute">
                    <div>
                      <strong>{{ key | field_title }}</strong>
                    </div>
                  </td>
                  <td data-label="Value">
                    {% with name=key,data=value[key],
                    params=columns[key],label=(key|field_title) %} {% if data ==
                    None%} {% include "displays/_null.html" %} {%elif
                    params.is_array and (data |length) ==0%} {% include
                    "displays/_empty.html" %} {%else%} {% include "displays/" ~
                    params.type ~ ".html" %} {%endif%} {% endwith %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% for key in columns if not columns[key].exclude_from_view %} {% set
          params = columns[key] %}
          <div class="mb-3"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %} {%if model.need_jsoneditor()%}
<script>
  function pretty_print_json(data) {
    var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/gm;
    var replacer = function (match, pIndent, pKey, pVal, pEnd) {
      var key = '<span class="json-key" style="color: brown">',
        val = '<span class="json-value" style="color: navy">',
        str = '<span class="json-string" style="color: olive">',
        r = pIndent || "";
      if (pKey) r = r + key + pKey.replace(/[": ]/g, "") + "</span>: ";
      if (pVal) r = r + (pVal[0] == '"' ? str : val) + pVal + "</span>";
      return r + (pEnd || "");
    };
  }
</script>
{%endif%}

<script>
  $(function () {


    {%for key in columns if not (columns[key].exclude_from_view or key == pk) %}
      {%set params = columns[key] %}
      {%set data = value[key]%}
      {% with name=key,data=data, params=params,label=(key|field_title)%}
      {% include "displays/js/" ~ params.type ~ ".js" ignore missing %}
      {% endwith %}
    {%endfor%}

    $("#modal-delete-btn").click(function () {
      $("#modal-delete").modal('hide');
      $("#modal-loading").modal('show');
      fetch(`{{ ds(model) | safe}}?where=${JSON.stringify({{'{'+pk}}: {{value[pk]}}})}`, {
        method: "DELETE",
        headers: ajax_headers() | safe,
      }).then(async response => {
        if (response.ok) {
          await new Promise(r => setTimeout(r, 500));
          $("#modal-loading").modal('hide')
          window.location.replace("{{ admin_url_for(model)  | safe}}")
        } else
          return Promise.reject();

      }).catch(async (error) => {
        await new Promise(r => setTimeout(r, 500));
        $("#modal-loading").modal('hide')
        $("#modal-error").modal('show');
      });
    });
  })
</script>
{% endblock %}
