{% include "forms/_label.html" %}
<div class="{%if error%}is-invalid{%endif%}">
    <input id="{{key}}" name="{{key}}" type="password" class="form-control" placeholder="{{key | title}}"
        value="{{value[key] if value[key] else '' }}" required />
    <small class="form-hint">
        Your {{key}} must be {{params.min_length}}-{{params.max_length}} characters long{%if params.has_uppercase%},
        contain
        at least one uppercase letter {%endif%}{%if params.has_lowercase%}, contain at least one lowercase letter
        {%endif%}{%if params.min_digits and params.min_digits>0%}, contain at least {{params.min_digits}} digits
        {%endif%}
        {%if params.special_chars and params.special_chars!=""%}, contain at least one special characteres
        ({{params.special_chars}}){%endif%}
    </small>
</div>